<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SSYMotherAppName</key>
	<string>BookMacster</string>
	<key>ATSApplicationFontsPath</key>
	<string>Fonts</string>
	<key>CFBundleGetInfoString</key>
	<string>Sorry, long-standing bug in Xcode - does not preprocess Info.plist in command-line tools</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>SORRY.BUG.IN.XCODE</string>
	<key>CFBundleVersion</key>
	<string>SORRY.BUG.IN.XCODE</string>
	<key>LSBackgroundOnly</key>
	<true/>
</dict>
</plist>
