<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ATSApplicationFontsPath</key>
	<string>Fonts</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>${DOCUMENT_FILENAME_EXTENSION}</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>${DOCUMENT_DISPLAY_NAME}.icns</string>
			<key>CFBundleTypeName</key>
			<string>${DOCUMENT_DISPLAY_NAME}</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>${COMPANY_TOP_LEVEL_DOMAIN}.${COMPANY_MID_LEVEL_DOMAIN}.${MOTHER_APP_NAME}.${DOCUMENT_DISPLAY_NAME}</string>
			</array>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSDocumentClass</key>
			<string>${DOCUMENT_CLASS}</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>SQLite</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>marksterlicenseinstaller</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>${PRODUCT_NAME}.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/octet-stream</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>${PRODUCT_NAME} License Installer</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>${COMPANY_TOP_LEVEL_DOMAIN}.${COMPANY_MID_LEVEL_DOMAIN}.${PRODUCT_NAME}.LicenseInstaller</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>SSYLicenseInstaller</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>${DOCUMENT_LEGACY_FILENAME_EXTENSION}</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>${DOCUMENT_LEGACY_DISPLAY_NAME}.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/octet-stream</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>${DOCUMENT_LEGACY_DISPLAY_NAME}</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>${COMPANY_TOP_LEVEL_DOMAIN}.${COMPANY_MID_LEVEL_DOMAIN}.${MOTHER_APP_NAME}.${DOCUMENT_LEGACY_DISPLAY_NAME}</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>${DOCUMENT_LEGACY_CLASS}</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>SQLite</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundleGetInfoString</key>
	<string>${PRODUCT_NAME} version ${CURRENT_PROJECT_VERSION}, ${COMPANY_FULL_NAME}.  All rights reserved.</string>
	<key>CFBundleHelpBookFolder</key>
	<string>HelpBook</string>
	<key>CFBundleHelpBookName</key>
	<string>${HELP_BOOK_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon.icns</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>${CURRENT_PROJECT_VERSION}</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>${CURRENT_PROJECT_VERSION}</string>
	<key>LSMinimumSystemVersion</key>
	<string>${MACOSX_DEPLOYMENT_TARGET}</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>${PRODUCT_NAME}Main</string>
	<key>NSPrincipalClass</key>
	<string>BkmxApp</string>
	<key>OSAScriptingDefinition</key>
	<string>SheepSysBkmkMgrs.sdef</string>
	<key>SSYAlert_ErrorSupportEmail</key>
	<string>${SUPPORT_EMAIL}</string>
	<key>SSYMotherAppName</key>
	<string>${MOTHER_APP_NAME}</string>
	<key>SSYTroubleZipperURL</key>
	<string>${TROUBLE_ZIPPER_URL}</string>
	<key>SUPublicDSAKeyFile</key>
	<string>SheepSystems_Sparkle_pub.pem</string>
	<key>SUPublicEDKey</key>
	<string>vYuGmyOgZcfW0EAxNnkZyT9thdNvvxMTyb1jx1fdV4k=</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
			</array>
			<key>UTTypeDescription</key>
			<string>A ${MOTHER_APP_NAME}  ${DOCUMENT_DISPLAY_NAME} document, containing bookmarks</string>
			<key>UTTypeIdentifier</key>
			<string>${COMPANY_TOP_LEVEL_DOMAIN}.${COMPANY_MID_LEVEL_DOMAIN}.${MOTHER_APP_NAME}.${DOCUMENT_DISPLAY_NAME}</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>${DOCUMENT_FILENAME_EXTENSION}</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>A ${PRODUCT_NAME} License Installer document, containing License Information</string>
			<key>UTTypeIdentifier</key>
			<string>${COMPANY_TOP_LEVEL_DOMAIN}.${COMPANY_MID_LEVEL_DOMAIN}.${PRODUCT_NAME}.LicenseInstaller</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>marksterlicenseinstaller</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>A ${MOTHER_APP_NAME}  legacy ${DOCUMENT_LEGACY_DISPLAY_NAME} document, containing bookmarks</string>
			<key>UTTypeIdentifier</key>
			<string>${COMPANY_TOP_LEVEL_DOMAIN}.${COMPANY_MID_LEVEL_DOMAIN}.${MOTHER_APP_NAME}.${DOCUMENT_LEGACY_DISPLAY_NAME}</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>${DOCUMENT_LEGACY_FILENAME_EXTENSION}</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>W3CBEButtonExtensionMinVersionForOpera</key>
	<string>${W3CBE_BUTTON_EXTENSION_MIN_VERSION_FOR_OPERA}</string>
	<key>W3CBEButtonExtensionMinVersionForOthers</key>
	<string>${W3CBE_BUTTON_EXTENSION_MIN_VERSION_FOR_OTHERS}</string>
	<key>W3CBESyncExtensionMinVersionForOpera</key>
	<string>${W3CBE_SYNC_EXTENSION_MIN_VERSION_FOR_OPERA}</string>
	<key>W3CBESyncExtensionMinVersionForOthers</key>
	<string>${W3CBE_SYNC_EXTENSION_MIN_VERSION_FOR_OTHERS}</string>
</dict>
</plist>
